.form-input {
  overflow: hidden;

  input {
    width: 100%;
    border: 1px solid #eee;
    padding: 6px 0 6px 10px;
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin: 6px 0;
    border-radius: 4px;
    outline: none;

    &:focus {
      border: 2px solid blue;
    }
  }
}

.errors {
  display: block;
  color: red;
  font-size: 16px;
  padding: 4px 8px;
}
